<!DOCTYPE html>
<html data-bs-theme="dark">
    <head>
        <title>Math Practice</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script>
            MathJax = {
                tex: {
                    inlineMath: {'[+]': [['$', '$']]}
                }
            };
        </script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js"></script>
        <script src="https://unpkg.com/typeit@8.8.7/dist/index.umd.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link href="{{ url_for('static', filename='css/index.css') }}", rel="stylesheet">
    </head>
    <body class="d-flex justify-content-center">
        <div class="container-xl">
            <h1 id="title" class="text-center">Practice <span id="typing-title"></span></h1>

            <div class="row d-flex flex-wrap justify-content-center">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Basic Algebra</h5>
                        <p class="card-text">Basic questions to practice solving for x in simple algebraic expressions</p>
                        <a href="{{ url_for('practice', type='basic_algebra') }}" class="btn btn-primary">Go</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Arithmetic</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                        <a href="{{ url_for('practice', type='Arithmetic') }}" class="btn btn-primary">Go</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">calculus</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                        <a href="{{ url_for('practice', type='Calculus') }}" class="btn btn-primary">Go</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Geometry</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                        <a href="{{ url_for('practice', type='Geometry') }}" class="btn btn-primary">Go</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Combining Like Terms</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                        <a href="{{ url_for('practice', type='combine_like_terms') }}" class="btn btn-primary">Go</a>
                    </div>
                </div>
            </div>
        </div>
        <script>
            new TypeIt("#typing-title", {
                strings: ["Math.", "Algebra.", "Calculus.", "Solving."],
                speed: 150,
                nextStringDelay: 2000,
                breakLines: false,
                lifeLike: true,
                loop: true,
            }).go();
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    </body>
</html>
