Screen {
    align: center middle;
}

Input {
    width: 20%;
}

Button {
    margin: 1;
}

Vertical {
    align: center middle;
    text-align: center;
}

Horizontal {
    align: center middle;
    text-align: center;
    height: auto;

}